#number1
{
border-style: ridge;
}

#number2
{
border-style: ridge;
}

#body
{
    background-color: aqua;
}

#player_question
{
    font-style:oblique;
    font-size:200px;
    font-family: 'Times New Roman', Times, serif;
}

#player_answer
{
    font-style:oblique;
    font-size:200px;
    font-family: 'Times New Roman', Times, serif;
}

#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}